.search {
  flex: 0.83;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fafafa;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 91vh;
}

.search__filter {
  display: flex;
  align-items: center;
  color: #606060;
  font-size: xx-small !important;
  cursor: pointer;
}

.search__filter:hover {
  color: #000;
}

.search__filter > h2 {
  margin-left: 10px;
  text-transform: uppercase;
}

.search > hr {
  height: 1px;
  border: none;
  background-color: #d3d3d3;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 500px) {
  .search {
    flex: 1;
    padding: 10px;
  }
}
