.sidebar-row {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.sidebar-row:hover {
  background-color: #efefef;
}

.sidebar-row--selected {
  background-color: #efefef;
}

.sidebar-row--heading {
  padding-bottom: 10px;
  margin-left: 20px;
  color: #808080;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
}

.sidebar-row--heading * {
  font: inherit;
}

.sidebar-row__icon {
  font-size: x-large !important;
}

.sidebar-row__title {
  flex: 1;
  margin-left: 20px;
  font-size: 16px;
  font-weight: 500;
}

@media screen and (max-width: 960px) {
  .sidebar-row--heading,
  .sidebar-row__title {
    font-size: 13px;
  }
}

@media screen and (max-width: 850px) {
  .sidebar-row--heading,
  .sidebar-row__title {
    font-size: 11px;
  }

  .sidebar-row__icon {
    font-size: large !important;
  }
}

@media screen and (max-width: 767px) {
  .sidebar-row {
    justify-content: center;
  }

  .sidebar-row__title {
    display: none;
  }

  .sidebar-row__icon {
    font-size: x-large !important;
  }
}
