.sidebar {
  flex: 0.17;
  padding-right: 5px;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 91vh;
}

@media screen and (max-width: 500px) {
  .sidebar {
    display: none;
    flex: 0;
  }
}
