.video-row {
  display: flex;
  margin-bottom: 30px;
  cursor: pointer;
}

.video-row__poster {
  object-fit: contain;
  width: 246px;
  height: 130px;
}

.video-row__text {
  margin-left: 14px;
}

.video-row__heading {
  font-size: 18px;
  font-weight: 500;
}

.video-row__views {
  font-size: 12px;
  color: #606060;
  margin-top: 3px;
}

.video-row__views > *::after {
  content: "●";
  margin-left: 5px;
  margin-right: 5px;
  font-size: x-small;
}

.video-row__description {
  margin-top: 5px;
  font-size: 12px;
  color: #606060;
}

@media screen and (max-width: 520px) {
  .video-row {
    flex-direction: column;
  }

  .video-row__poster {
    width: 100%;
    height: fit-content;
  }

  .video-row__text {
    margin-top: 10px;
  }

  .video-row__description {
    display: none;
  }

  .video-row__views {
    display: none;
  }
}
