.videos {
  flex: 0.83;
  padding: 10px 0 10px 20px;
  box-sizing: border-box;
  background-color: #fafafa;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 91vh;
}

.videos__heading {
  margin-left: 10px;
  margin-bottom: 20px;
  color: #111;
  font-size: 22px;
}

.videos__video-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 500px) {
  .videos {
    flex: 1;
    padding: 0;
  }

  .videos__heading {
    display: none;
  }
}
